body{
    direction: rtl;
    font-family: 'Aref Ruqaa', serif;
font-family: 'Noto Sans Arabic', sans-serif;
}
h1,h2,h3{
    font-family: 'Aref Ruqaa', serif;
font-family: 'Noto Naskh Arabic', serif;
font-family: 'Noto Sans Arabic', sans-serif;    
font-weight: 700;
color: #af2426;
}
p{
    text-align: right;
}
.slider-container {
    overflow: hidden;
    position: relative;
    background: #000;
}

.slider {
    direction: ltr;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
}

.slide img {
    min-width: 100%;
    max-width: 100%;
    max-height: 700px;
    vertical-align: middle;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
}
.slide h1{
    background: #ffffff23;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px;
    margin-bottom: 1em;
    padding: 1em;
}
.left{

}
.hfg-slot {

}
.social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #333333;
}
.social ul li :hover{
    color: #af2426;
    cursor: pointer;


}
.social li a i{

    padding-inline: 15px;

}
.social li a{
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #333;
}
.social i{
    color: #333;
}
@media(max-width:500px){
    .slide-text{
        width: 100%;
        
    }
    .slide h1{
        padding: 1rem;
    }
}
.gallary{
    display: flex;
   
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallary img{
    max-height: 300px;
    max-width: 300px;
}